{% extends 'base.html.twig' %}

{% block title %}New Offre
{% endblock %}

{% block body %}
	{% include "navbar/navbar.html.twig" %}
	<h1>Créer une offre</h1>

	{{ include('offre/_form.html.twig') }}

	<a href="{{ path('admin_app_offre_index') }}">Revenir</a>
{% endblock %}
